<app-navbar></app-navbar>
<h1>Portfolio</h1>
<br />

<h2>Project 1</h2>
<div class="card">
  <p>
    I created my online cv using HTML and CSS where I had to have an about page,
    Home and Contact pages. Similarly to this one, I had to add an image of
    myself with a short bio section, have my experience history and a page with
    details of how to contact me. This was one of the tasks we were required to
    do as one of the pre-requisites of getting into the CodeTribe Academy.
    <br />
    <a href="https://github.com/sinenhlanhlahlengiwe/task-1" target="_blank"
      >View Project</a
    >
  </p>
</div>

<h2>Project 2</h2>
<div class="card">
  <p>
    Although this was not a project, but these were exercises to demonstrate our
    understanding on JavaScript, the focus was on conditional statements, data
    types and variables. <br />
    <a
      href="https://github.com/sinenhlanhlahlengiwe/javascript-refresher-task-1"
      target="_blank"
      >View Project</a
    >
  </p>
</div>
