<app-navbar></app-navbar>
<div class="contact-me">


    <form class="contact-form">
      <input type="text" placeholder="Name">
      <input type="email" placeholder="Email">
      <input type="contact number" placeholder="Contact number">
      <textarea placeholder="Message"></textarea>
      <button>Send</button>
    </form>

    <div class="socialmedia-links">
      <a href="http://www.linkedin.com/in/sinenhlanhla-s-38b8382aa" target="_blank"><img width="30" src="assets/linkedin.png" alt=""></a>
      <a href="http://github.com/sinenhlanhlahlengiwe" target="_blank"><img width="30" src="assets/github.png" alt=""></a>
  </div>
</div>
  
