<app-navbar></app-navbar>
<div class="homepage">
    
    <div class="caption"> <h2>Hello , I'm Sinenhlanhla</h2>
        <br>
        <p>...a passionate individual eager to become a skilled web developer.

        With a solid foundation in HTML, CSS, and a taste of JavaScript, I'm excited to expand my skills and knowledge in web development. I'm looking forward to building a strong portfolio and contributing to innovative projects.
        
        Outside of coding, I do hair and spend a lot of time in the kitchen, coming up with recipes. I'm excited to connect with like-minded individuals and potential collaborators. Let's build something amazing together!</p></div>

</div>
  