<app-navbar></app-navbar>
<div class="about-box">
    <img src="assets/sine.jpg" alt="My photo">



    <div class="about-section">
        <h2>Professional Biography</h2>
        <p>As a driven and detail-oriented individual, I'm excited to bring my skills and experience to the world 
        of web development. With a background in administration and a passion for learning, I'm committed to
         building a strong foundation in coding and making a meaningful impact in the tech industry.</p>
    </div>

    <div class="about-section">
        <h2>Career Summary</h2>
        <ul>
            <li> Former College Administrator with experience in student affairs and academic support</li>
            <li>Completed General Educational Development (GED) program</li>
            <li>Introduction to Web Development short course</li>
            <li>Completed two month Web Development bootcamp at CodeTribe Academy</li>
        </ul>

    </div>

    <div class="about-section">
        <h2>Education and Training</h2>
        <ul>
        <li>General Educational Development (GED) program</li>
        <li>Introduction to Web Development short course with GirlCode ZA</li>
        <li>Online Angular course at CodeTribe Academy (in progress)</li>

        </ul>
    </div>

    <div class="about-section">
        <h2>Personal Statement</h2>
        <p>I'm eager to apply my administrative skills to the technical world of web development. I'm excited to 
        learn and grow as a developer, and I'm looking forward to building a strong portfolio and contributing 
        to innovative projects. I'm passionate about creating accessible and user-friendly digital experiences 
        that make a difference in people's lives.
    </p>
    </div>

    <div class="about-section">
        <h2>Skills</h2>
        <ul> <p><u>Technical Skills:</u></p>
        <li> Basic understanding of HTML, CSS, and JavaScript</li>
        <li> Familiarity with web development frameworks and tools</li>
        <p> <u>Soft Skills:</u></p>
        <li> Strong problem-solving skills</li>
        <li> Excellent communication and organizational skills </li>
        <li>Ability to work independently and as part of a team</li></ul>

    </div>
      
    
</div>
  